@import "Values/variables.scss";
@import "Values/mixins.scss";

.inputBox{
    @include inputBox;
    color: $DetailColor;
    
    border-bottom: 2px solid $DetailColor;

    background: transparent;
    
    &:hover, &:focus{
        color: $LightPurple;
        border-color: $LightPurple;
    }
}

.inputText{
    width: 100%;

    display: flex;
    align-self: flex-end;

    padding: .25rem .5rem;
    resize: none;

    border: none;
    background: transparent;

    &:hover, &:focus{
        outline: none;
    }
}