@import "Values/variables.scss";
@import "Values/mixins.scss";

.inputBox{
    @include inputBox;
    color: $DetailColor;
    
    border-bottom: 2px solid $DetailColor;

    background: transparent;
    
    &:hover, &:focus{
        color: $LightPurple;
        border-color: $LightPurple;
    }
}

.inputBox2{
    @include inputBox;

    color: white;

    padding: .25rem 0 .25rem 1rem;

    border-radius: 16px;
    border: 2px solid transparent;

    background: $LightGray;

    &:hover, &:focus{
        border-color: $LightPurple;
    }
}

.inputText{
    width: 100%;

    display: flex;
    align-self: flex-end;

    padding: .25rem .5rem;
    resize: none;

    border: none;
    background: $Gray;

    &:hover, &:focus{
        outline: none;
    }
}