/****************
    Variables
****************/

$DetailColor: #fff;
$BackgroundColor: #211d29;
$HighlightColor: #6b136a;

$profilePicSize: 11rem;
$TransitionSpeed: .3s;

$LightPurple: #744EBC;
$Purple :#322947;
$Green: green;
$Red: rgb(255, 45, 45);
$Blue: blue;
$LightGray: #4f5255;
$Gray: #2e3236;
$DarkGray: #343A40;
$Orange: #FC7E18



